@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html, body {
		font-family: 'Gudea', sans-serif;
		background-color: #FAFAFA;
		overflow-x: hidden;
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}
}

.swiper-slide-thumb-active img {
	border: solid 2px #E68B86;
	border-radius: 4px;
}